@mixin for-phone-only {
  @media only screen and (max-device-width: 768px) { @content };
}

a:link {
  color: #ff6699 !important;
  text-decoration: none !important;
}

a:hover {
  color: #ff6699 !important;
  text-decoration: none !important;
}

.hero.is-medium.full-width-img {
  background: linear-gradient(rgba(0,0,0, 0.35), rgba(0,0,0, 0.5)), url('/travelling-toucan/images/tt3.png') 0 no-repeat fixed;
  background-size: 100%;
  width: 100%;
  height: auto;
  text-align: center;
  @include for-phone-only {
    background: url('/travelling-toucan/images/tt6.png') 0 fixed;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 1180px !important;
  }
}

.hero.is-medium.full-width-img2 {
  background: url('/travelling-toucan/images/ginandpickles.jpg') 0 no-repeat fixed;
  background-size: 100%;
  width: 100%;
  height: auto;
  text-align: center;

}

.navbar.is-transparent.is-fixed-top {
  background-color: #000000;
}

.navbar-item {
  color: #ffffff !important;
  text-shadow: 1px 1px #000000 !important;
}

#navbarBasicExample.navbar-menu.is-active {
  background-color: inherit;
}

.title-1 {
  color: #ffffff !important;
  font-size: 110px !important;
  text-shadow: 4.5px 4.5px #000000 !important;
  text-align: center !important;
  font-family: 'Montserrat', sans-serif !important;
}

.title-2 {
  color: #ffffff !important;
  font-size: 160px !important;
  text-shadow: 3px 3px #000000 !important;
  text-align: center !important;
  font-family: 'Montserrat', sans-serif !important;
}

.subtitle {
  color: #ffc107 !important;
  font-size:50px !important;
  text-shadow: 2px 2px #000000 !important;
  text-align: center !important;
  font-family: 'Montserrat', sans-serif !important;
}

.subtitle.left {
  color: #ffffff !important;
  font-size:50px !important;
  text-shadow: 2px 2px #000000 !important;
  text-align: center !important;
  font-family: 'Montserrat', sans-serif !important;
  border: 2px solid #ffffff;
  width: 33.33%;
}

.subtitle.left.bottom {
  color: #ffffff !important;
  font-size:50px !important;
  text-shadow: 2px 2px #000000 !important;
  text-align: center !important;
  font-family: 'Montserrat', sans-serif !important;
  border: 2px solid #ffffff;
  width: 33.33%;
  margin-top: 50px;
}


.subtitle.arrow-1 {
  color: #00cccc !important;
  font-size:50px !important;
  text-shadow: 2px 2px #000000 !important;
  text-align: center !important;
  font-family: 'Montserrat', sans-serif !important;
}

.subtitle.arrow-2 {
  color: #ff6699 !important;
  font-size:50px !important;
  text-shadow: 2px 2px #000000 !important;
  text-align: center !important;
  font-family: 'Montserrat', sans-serif !important;
}

.navbar-item.colour {
  color: #ffc107 !important;
}

.about-p {
  align-items: flex-end;
  width: 33.33%;
  color: #ffffff;
  text-shadow: 1px 1px #000000 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.footer {
  height: 20px !important;
  padding: none !important;
  margin: none !important;
  background-color: #ffffff !important;
  color: #ffc107 !important;
  text-shadow: 0.3px 0.3px #000000 !important;
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
  .hero.is-medium.full-width-img {
    background: url('/travelling-toucan/images/tt6.png');
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 1180px !important;
  }

  .hero.is-medium.full-width-img2 {
    background: url('/travelling-toucan/images/ginandpickles.jpg');
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 1180px !important;
  }

  .hero-body {
    height: 1180px !important;
  }
}
